<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> <file>cloudy.log</file>
		<append>true</append> encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
		by default <encoder> <pattern>%-4relative [%thread] %-5level %logger{35} 
		- %msg%n </pattern> </encoder> </appender> -->

	<logger name="org.springframework.web" level="INFO">
		<appender-ref ref="consoleAppender" />
	</logger>


	<logger name="org.hibernate" level="ERROR">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="com.mds" additivity="false">
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.type" level="ERROR" />
		<logger name="org.apache.activemq" level="DEBUG" />
	

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>